.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;

  background: var(--gray-800);
}

.avatarWithBorder {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
  
  background: var(--gray-800);
}